$fs: 14px;
$lh:18px;
$ls: -0.2px;
$clr: #1B1C21;

@mixin fonts($fs, $lh, $ls, $clr) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $clr;
}

.call {
&:before{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.95;
  right: 0;
}
  background-color: rgb(255, 255, 255);
  width: 320px;
  box-shadow: -2px 0px 0px 0px rgba(217, 255, 245, 1);
  margin-left: 14px;
  &_none{
    display: none;
  }
  &__heading {
    @include fonts(24px, 32px, -0.6px, rgb(27, 28, 33));
    font-weight: bold;

    &:before {
      content: "";
      position: absolute;
      height: 40px;
      width: 4px;
      background: #41F6D7;
      border-radius: 0 25px 25px 0;
      left: 0;
      top: 13%;
    }
    &_margin{
      padding-top: 40px;
      margin-bottom: 24px;
    }
    
  }

  &__wrapper {
    position: relative;
    padding-left: 24px;
    padding-bottom: 20px;
  }



  &__consent {
    @include fonts(14px, 16px, 0px, #7E7E82);

  }

  &__link {
    color: #FF3E79;
  }

  &__btn {
    @include fonts(12px, 24px, -0.15px, #FFFFFF);
    background-color: #FF3E79;
    border-radius: 16px;
    width: 136px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    &_margin{
    margin: 16px 16px 0 auto;
    }
}
  &_border{
    border: 1px solid   rgb(234, 234, 234);
    border-radius: 8px;
  }
  &_margin{
    margin-bottom: 16px;
  }
  &_fonts{
    border: 1px solid   rgb(234, 234, 234);
    border-radius: 8px;
    padding: 12px 16px;
    width: 288px;
  }
}
.call_absolute{
  position: fixed;
  z-index: 240;
  right: 0;
  top: 0;
}

.call__closedBtn{
  
  margin: 24px 16px;
  @media (min-width:768px) {
    position: absolute;
    top: 12px;
    right: 335px;
  }
}

